.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
	justify-content: center;
}

.form-item {
	display: flex;
	flex-direction: column;
}
